.DS_Store
.elixir_ls/
.swo
.tags
.tags[0-9]*
.vscode/
*.scratch.*
*.swp
/.idea/
/*.iml
npm-debug.log
vscode/home-lib-app-sup-code-user/globalStorage
vscode/home-lib-app-sup-code-user/workspaceStorage
yarn-error.log
